/* This text is in MedievalSharp */
.jumbotron { 
	font-family: MedievalSharp; 
}
body {
	background-color: blanchedalmond;
	background-image: url(/wordgame/assets/images/background.jpg)
}
.container {
	color: white;

}